<section class="mensaje-gracias fade-in">
  <h1>✅ ¡Gracias!</h1>
  <p>Tu comentario ha sido enviado exitosamente. Nuestro Comité lo revisará a la
    brevedad.</p>
  {{!-- <div style="margin-top: 20px;">
    <a href="/" class="boton-principal">Volver al Inicio</a>
  </div> --}}
</section>
<script>
  setTimeout(() => {
    window.location.href = "/";
  }, 5000);
</script>
